.badge-valid {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.badge-en-cours {
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.text-blue {
  color: blue;
  font-weight: bold;
}

.text-red {
  color: red;
  font-weight: bold;
}

