<div class="container mt-4">
  <div class="card p-4 shadow-sm">
    <h4 class="text-uppercase fw-bold text-center mb-3">{{ title }}</h4>

    <div class="d-flex justify-content-between align-items-center">
      <form [formGroup]="Rapport" class="d-flex gap-4 flex-wrap">
        <div class="position-relative">
          <label class="fw-bold">Début</label>
          <div class="input-group mx-3">
            <input matInput [matDatepicker]="picker1" formControlName="date_debut" (dateChange)="getHistorique()" class="form-control pe-5">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </div>
        </div>

        <div class="position-relative">
          <label class="fw-bold">Fin</label>
          <div class="input-group mx-3">
            <input matInput [matDatepicker]="picker2" formControlName="date_fin" (dateChange)="getHistorique()" class="form-control pe-5">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </div>
        </div>
      </form>

      <button class="btn btn-danger d-flex align-items-center gap-2" (click)="imprimer()">
        <i class="fas fa-print"></i> Imprimer
      </button>
    </div>
  </div>

  <div class="card p-3 mt-3 shadow-sm">
    <h4 class="text-primary text-center">Liste des Transactions</h4>

    <input type="text" class="form-control mb-3" placeholder="Rechercher..." (keyup)="applyFilter($event)">

    <div class="table-responsive">
      <table class="table table-bordered table-hover "id="maTable">
        <thead class="table-danger">
          <tr>
            <th>ID</th>
            <th>Montant</th>
            <th>Type</th>
            <th>Mode de paiement</th>
            <th>Créé par</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of dataSource.data">
            <td>{{ transaction.transaction_id }}</td>
            <td>{{ transaction.montant | number }}</td>
            <td>{{ transaction.type_transaction }}</td>
            <td>{{ transaction.mode_paiement }}</td>
            <td>{{ transaction.created_by }}</td>
            <td>{{ transaction.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
