<div class="pd-ltr-20">
  <div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img
          src="/assets/image/fish.png"
          alt>
      </div>
      <div class="col">
        <h4 class="font-20 weight-500 mb-10">
          Environnement <div
            class="weight-600 font-30"
            style="color: #6D2323;">AFRIFISH-APPS</div>
        </h4>
        <p class="font-18 max-width-600">Une application Web est une application
          logicielle fournie aux utilisateurs sur Internet. Les applications Web
          sont généralement accessibles via un navigateur Web et peuvent être
          utilisées sur n’importe quel appareil doté d’une connexion
          Internet.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 }} <span
                class="text-secondary small">Entit&#233;</span></div>
            <div class="weight-600 font-14 text-uppercase">Afrifish</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 }} <span
                class="text-secondary small">Clients</span></div>
            <div class="weight-600 font-14 text-uppercase">Enregistr&#233;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 }} <span
                class="text-secondary small">Fournisseurs</span></div>
            <div class="weight-600 font-14 text-uppercase">Enregistr&#233;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 }} <span
                class="text-secondary small">Articles</span></div>
            <div class="weight-600 font-14 text-uppercase">Stock Global</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 2e -->
  <div class="row">
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 }} <span
                class="text-secondary small">En alerte</span></div>
            <div class="weight-600 font-14 text-uppercase">Afrifish</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 }} <span
                class="text-secondary small">Categorie</span></div>
            <div class="weight-600 font-14 text-uppercase">Afrifish</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 | currency: 'GNF: ' }} <span
                class="text-secondary small"></span></div>
            <div class="weight-600 font-14 text-uppercase">Encaissement</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-30">
      <div class="card-box height-100-p widget-style1">
        <div class="d-flex flex-wrap align-items-center">
          <div class="progress-data">
            <!-- <span class="micon dw dw-user3"></span> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s"
              class="img-responsive w-75" alt>
          </div>
          <div class="widget-data">
            <div class="h4 mb-0">{{ 0 | currency: 'GNF: ' }} <span
                class="text-secondary small"></span></div>
            <div class="weight-600 font-14 text-uppercase">D&#233;caissment</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8 mb-30">
      <div class="card-box height-100-p pd-20 table-responsive">
        <h2 class="h4 mb-20">Toutes les Op&#233;rations | Aujourd'hui</h2>
        <!-- <span class="micon dw dw-lock"></span> -->
        <table class="table table-hover" id="maTable">
          <thead>
            <!-- <th>#</th> -->
            <th>Classe</th>
            <th>Places</th>
            <th>Occuper</th>
            <th>Disponible</th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xl-4 mb-30">
      <div class="card-box height-100-p pd-20">
        <h2 class="h4 mb-20">Situation Client</h2>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>-- Selectionner un client --</mat-label>
          <mat-select>
            <mat-option>** Liste des clients **</mat-option>
          </mat-select>
        </mat-form-field>
        <hr>

      </div>
    </div>
  </div>
</div>
