<div class="container-fluid mt-4">
  <!-- Header avec titre et bouton -->
  <div class="card g-4">
    <div class="row">
      <div class="col text-start">
        <h4 class="text-uppercase fw-bold">{{ title }}</h4>
      </div>
      <div class="col text-right">
        <button mat-raised-button color="accent" (click)="validerCommande()" [disabled]="!infoBonCommande?.articles?.length">
          Valider la commande
        </button>

      </div>
    </div>
  </div>

  <div class="row g-4">
    <!-- Tableau -->

    <div class="col">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>S'approvisionner</ng-template>
          <mat-card class="shadow-sm">
            <div class="table-responsive p-3">
              <h3 class="form-title text-center text-primary mb-3">
                Listes des Articles
              </h3>
              <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>Rechercher...</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Rechercher"
                  #input
                />
              </mat-form-field>
              <table mat-table [dataSource]="dataSource" id="maTable">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                </ng-container>

                <!-- Reference Column -->
                <!-- <ng-container matColumnDef="reference">
                  <th mat-header-cell *matHeaderCellDef>Reference</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.reference }}
                  </td>
                </ng-container> -->

                <!-- Designation Column -->
                <ng-container matColumnDef="designation">
                  <th mat-header-cell *matHeaderCellDef>Désignation</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.designation }}
                  </td>
                </ng-container>

                <!-- PU Initial Column (Editable) -->
                <ng-container matColumnDef="puInitial">
                  <th mat-header-cell *matHeaderCellDef>PU Initial</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                      <input
                        class="table-input"
                        matInput
                        type="number"
                        [(ngModel)]="element.puInitial"
                      />
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- Qte Initiale Column (Editable) -->
                <ng-container matColumnDef="qteInitiale">
                  <th mat-header-cell *matHeaderCellDef>Quantité Initiale</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        type="number"
                        [(ngModel)]="element.qteInitiale"
                      />
                    </mat-form-field>
                  </td>
                </ng-container>

                <!-- PV Initial Column (Editable) -->

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="d-flex gap-2 justify-content-center">
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="ajouterPanier(element)"
                        [disabled]="
                          !element.qteInitiale || element.qteInitiale <= 0
                        "
                      >
                        <mat-icon class="mat-18">add</mat-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>Pannier Approvisionnement</ng-template>
          <div class="bon-de-commande">
            <!-- Informations Client & Fournisseur Ensemble -->
            <section class="client-fournisseur card">
              <h2>Informations sur la Commande</h2>
              <div class="info-container">
                <!-- Infos Client -->
                <div class="info-block">
                  <h3>Client</h3>
                  <p>
                    <strong>Nom :</strong>
                    {{ infoBonCommande?.utilisateur?.Nom_Complet }}
                  </p>
                  <p>
                    <strong>Adresse :</strong>
                    {{ infoBonCommande?.utilisateur?.Adresse }}
                  </p>
                  <p>
                    <strong>Téléphone :</strong>
                    {{ infoBonCommande?.utilisateur?.Telephone }}
                  </p>
                  <p>
                    <strong>Email :</strong>
                    {{ infoBonCommande?.utilisateur?.Email }}
                  </p>
                </div>

                <!-- Infos Fournisseur -->
                <div class="info-block">
                  <h3>Fournisseur</h3>
                  <p>
                    <strong>Raison Sociale :</strong>
                    {{ infoBonCommande?.fournisseur?.Raison_sociale }}
                  </p>
                  <p>
                    <strong>Représentant :</strong>
                    {{ infoBonCommande?.fournisseur?.Representant }}
                  </p>
                  <p>
                    <strong>Adresse :</strong>
                    {{ infoBonCommande?.fournisseur?.Adresse }}
                  </p>
                  <p>
                    <strong>Pays :</strong>
                    {{ infoBonCommande?.fournisseur?.Pays }}
                  </p>
                  <p>
                    <strong>Téléphone :</strong>
                    {{ infoBonCommande?.fournisseur?.Telephone }}
                  </p>
                </div>
              </div>
            </section>

            <!-- Détails de la commande -->
            <section class="order-details card">
              <h2>Détails de la commande</h2>
              <table>
                <thead>
                  <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Montant Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of infoBonCommande?.articles"(dblclick)="supprimerDuPanier(item)">
                    <td>{{ item.designation }}</td>
                    <td>{{ item.quantite }}</td>
                    <td>
                      {{ item.prix_unitaire | currency : "GNF: " }}
                    </td>
                    <td>{{ item.montant_total | currency : "GNF: " }}</td>
                  </tr>
                </tbody>
              </table>
            </section>

            <!-- Pied de page -->
            <footer class="footer">
              <p>Conditions générales : paiement à réception.</p>
              <p>Signature :</p>
            </footer>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
