<div class=" mt-4">
  <h2 class="text-center text-primary"> Gestion de la Caisse</h2>
  <div class="row">
    <!-- Solde Caisse -->
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <span class="material-icons md-48 text-primary">account_balance_wallet</span>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">{{ infoCaisse?.soldeCaisse }} <br> GNF</div>
                    <div class="weight-600 font-14 text-uppercase">Solde Caisse</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Afrifish  -->
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s" class="img-responsive w-75" alt>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">{{ 0 }} <span class="text-secondary small">Categorie</span></div>
                    <div class="weight-600 font-14 text-uppercase">Afrifish</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Encaissement -->
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <span class="material-icons md-48 text-success">arrow_downward</span>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">{{ infoCaisse?.totalEncaissement }} <br> GNF</div>
                    <div class="weight-600 font-14 text-uppercase">Total Encaissement</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Décaissement -->
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <span class="material-icons md-48 text-danger">arrow_upward</span>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">{{ infoCaisse?.totalDecaissement }} <br> GNF</div>
                    <div class="weight-600 font-14 text-uppercase">Total Décaissement</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- En alerte (Image des poissons conservée) -->
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRiXTQQOWQVlfY3rK464L9fZywaU_f1ux3g&s" class="img-responsive w-75" alt>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">{{ 0 }} <span class="text-secondary small">En alerte</span></div>
                    <div class="weight-600 font-14 text-uppercase">Afrifish</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Paiement -->
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <span class="material-icons md-48 text-info">credit_card</span>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">{{ infoCaisse?.totalPaiement }} <br> GNF</div>
                    <div class="weight-600 font-14 text-uppercase">Total Paiement</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Crédit -->
    <div class="col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <span class="material-icons md-48 text-warning">payments</span>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0">{{ infoCaisse?.totalCredit }} <br> GNF</div>
                    <div class="weight-600 font-14 text-uppercase">Total Crédit</div>
                </div>
            </div>
        </div>
    </div>
</div>



 
  <mat-card class="mt-4">
    <mat-card-title>Nouvelle Transaction</mat-card-title>
    <mat-card-content>
      <form [formGroup]="Caisse" >
      <div class="row mt-2">
        <div class="col-md-6">
            <!-- Type d'opération -->
        <mat-form-field class="full-width">
          <mat-label>Type d'Opération</mat-label>
          <mat-select formControlName="typeOperation">
            <mat-option *ngFor="let type of typeOperations" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>
  
       
  
        <!-- Montant -->
        <mat-form-field class="full-width">
          <mat-label>Montant</mat-label>
          <input matInput type="number" formControlName="montant" />
        </mat-form-field>
        </div>
        <div class="col-md-6">
           <!-- Mode de règlement -->
        <mat-form-field class="full-width">
          <mat-label>Mode de Règlement</mat-label>
          <mat-select formControlName="modeRegler">
            <mat-option *ngFor="let mode of modesRegler" [value]="mode">{{ mode }}</mat-option>
          </mat-select>
        </mat-form-field>
          <!-- Description -->
        <mat-form-field class="full-width">
          <mat-label>Descriptions</mat-label>
          <textarea matInput formControlName="descriptions"></textarea>
        </mat-form-field>
        </div>
      </div>
  
        
  
        <!-- Bouton de soumission -->
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="Caisse.invalid" (click)="onAjouter()">
            Enregistrer
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

  <!-- Liste des Transactions -->
  <mat-card class="mt-4">
    <mat-card-title>Historique des Transactions</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" id="maTable">
        <!-- Type -->
        <ng-container matColumnDef="typeOperation">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.typeOperation }}</td>
        </ng-container>

        <!-- Montant -->
        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef>Montant</th>
          <td mat-cell *matCellDef="let element">{{ element.montant | currency: 'GNF' }}</td>
        </ng-container>

        <ng-container matColumnDef="modeRegler">
          <th mat-header-cell *matHeaderCellDef>Mode De paiements</th>
          <td mat-cell *matCellDef="let element">{{ element.modeRegler }}</td>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="descriptions">
          <th mat-header-cell *matHeaderCellDef>Descriptions</th>
          <td mat-cell *matCellDef="let element">{{ element.descriptions }}</td>
        </ng-container>




        <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
