<div class="print-container">
  <!-- Boutons d'action -->
  <div class="print-card">
    <button mat-raised-button color="primary" (click)="print()">🖨️ Imprimer la facture</button>

  </div>

  <!-- Contenu de la facture -->
  <div class="bon-de-commande">
    <section class="client-info">
      <h3>Informations du client</h3>
      <p><strong>Nom :</strong> {{ infoFacture?.client?.libelle }}</p>
      <p><strong>Adresse :</strong> {{ infoFacture?.client?.adresse }}</p>
      <p><strong>Téléphone :</strong> {{ infoFacture?.client?.telephone }}</p>
      <p><strong>Ville :</strong> {{ infoFacture?.client?.ville }}</p>
    </section>

    <section class="order-details">
      <h3>Détails de la commande</h3>
      <table>
        <thead>
          <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Montant Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of infoFacture?.articles">
            <td>{{ item.designation }}</td>
            <td>{{ item.quantite_vente }}</td>
            <td>{{ item.prix_de_vente | number:'1.0-0' }} GNF</td>
            <td>{{ item.montant_total | number:'1.0-0' }} GNF</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="summary">
      <h3>Résumé</h3>
      <p><strong>Total HT :</strong></p>
      <p><strong>Taxes :</strong></p>
      <p class="total"><strong>Total TTC :</strong> {{ infoFacture?.montant_global | number:'1.0-0' }} GNF</p>
      <p *ngIf="montantRestant > 0"><strong>Montant restant :</strong> {{ montantRestant | number:'1.0-0' }} GNF</p>
    </section>

    <section class="payment-form" *ngIf="montantRestant > 0" >
      <h3>Effectuer un paiement</h3>
      <mat-form-field appearance="outline">
        <mat-label>Montant à payer</mat-label>
        <input matInput type="number" [(ngModel)]="montantPaiement">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mode de paiement</mat-label>
        <mat-select [(value)]="modePaiement">
          <mat-option value="cash">💵 Espèces</mat-option>
          <mat-option value="virement">🏦 Virement</mat-option>
          <mat-option value="carte bancaire">💳 Carte bancaire</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="payerFacture()">💰 Payer</button>
    </section>

    <footer class="footer">
      <p><strong>Conditions générales :</strong> Paiement à réception.</p>
      <p><strong>Signature :</strong> ___________________</p>
    </footer>
  </div>
</div>
