<div class="print-container">
  <!-- Card pour le bouton d'impression -->
  <div class="print-card">
    <button mat-raised-button color="primary" (click)="print()">Imprimer le bon de commande</button>
  </div>

  <!-- Contenu du bon de commande -->
  <div class="bon-de-commande">


    <section class="client-info">
      <h2>Informations sur le client</h2>
      <p><strong>Nom :</strong> {{ infoBonCommande?.utilisateur?.Nom_Complet}}</p>
      <p><strong>Adresse :</strong> {{ infoBonCommande?.utilisateur?.Adresse }}</p>
      <p><strong>Téléphone :</strong> {{ infoBonCommande?.utilisateur?.Telephone }}</p>
      <p><strong>Email :</strong> {{ infoBonCommande?.utilisateur?.Email }}</p>
    </section>

    <section class="order-details">
      <h2>Détails de la commande</h2>
      <table>
        <thead>
          <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Montant Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of infoBonCommande?.articles">
            <td>{{ item.designation }}</td>
            <td>{{ item.quantite}}</td>

            <td>{{ item.prix_unitaire_initiale | currency : 'GNF: ' }}</td>
            <td>{{ item.montantTotal | currency }}</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- <section class="summary">
      <h2>Résumé</h2>
      <p><strong>Total HT :</strong> {{ totalHT | currency }}</p>
      <p><strong>Taxes ({{ taxRate }}%) :</strong> {{ taxes | currency }}</p>
      <p><strong>Total TTC :</strong> {{ totalTTC | currency }}</p>
    </section> -->

    <footer class="footer">
      <p>Conditions générales : paiement à réception.</p>
      <p>Signature :</p>
    </footer>
  </div>
</div>
